@font-face {
    font-family: 'Myriad Pro';
    src: url(../'MyriadPro-Semibold.woff2') format('woff2'),
        url(../'MyriadPro-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

.section{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;

}
.conteiner{
	max-width: 970px;
	width: 100%;
	margin: 0 auto;
	font-family: 'Myriad Pro';
}

.conteiner a:hover{
	color: #e63e3e;
}


/*blok-header*/

.bg-blok-header{
	background-image: url(../img/header/bg-header.png);
	background-position: center;
	-webkit-box-sizing: cover;
	-moz-box-sizing: cover;
	box-sizing: cover;
	background-repeat: no-repeat;

}

.blok-header_numer{
	width: 30%;
	margin-left: auto;
	margin-right: 0;
	padding-top: 198px;
}

.blok-header_numer p{
	font-size: 18px;
	color: #000;
}

.blok-header_numer .kod{
	font-size: 26px;
	color: #000;
}

.blok-header_numer .numer{
	font-size: 48px;
	color: #000;
}

.blok-header_menu{
	margin-top: 180px;

}

.blok-header_menu ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.blok-header_menu .bg a:hover{
	background: #03a6d3;
}

.blok-header_menu .bg a{
	background: #04c4e3;
	margin-right: 20px;
}

.blok-header_menu li:active{
	border: 1px solid #fff;
	
}

.blok-header_menu a{
	background: #03a6d3;
	padding: 10px 20px 10px 30px;
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
}

.blok-header_menu a:hover{
	background: #04c4e3;
}

/*--//--*/


/*blok-proekty*/

.bg-blok-proekty{
	background: #fff;
}

.blok-proekty{
	margin-top: 58px;
}

.blok-proekty ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.blok-proekty li{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin: 0 auto;
}

.blok-proekty_img{
	margin-right: 10px;
}

.blok-proekty_zag h3{
	font-size: 17px;
	color: #4e4e4e;
	text-transform: uppercase;
	margin-bottom: 8px;
}

.blok-proekty_zag p{
	font-size: 11px;
	color: #4e4e4e;
	margin-bottom: 20px;
}

.blok-proekty_zag a{
	text-transform: uppercase;
	font-size: 10px;
	color: #03a9d7;
}

/*--//--*/

/*blok-news-kompani*/

.blok-news-kompani{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-top: 58px;
}

.blok-nevs{
	width: 32%;
}

.blok-nevs h3{
	text-transform: uppercase;
	font-size: 23px;
	color: #008fbf;
	margin-bottom: 28px;
}

.blok-nevs p{
	font-size: 12px;
	color: #2a2a2a;
	margin-bottom: 10px;
}

.blok-nevs a{
	font-size: 12px;
	color: #00a7c0;
}

.blok-nevs a.a_color{
	font-size: 13px;
	color: #015967;
}

.blok-kompani{
	width: 62.8%;
	margin-left: auto;
	margin-right: 0;
}

.blok-kompani h3{
	text-transform: uppercase;
	font-size: 23px;
	color: #008fbf;
	margin-bottom: 13px;
}

.blok-kompani_text{
	border-top: 1px dotted #d5d5d5;
	border-bottom: 1px dotted #d5d5d5;
	padding: 17px 0 17px 0;
}

.blok-kompani_text p{
	font-size: 13px;
	color: #797979;
	line-height: 24px;
}

/*--//--*/

/*blok-onlain-uslugj*/

.blok-onlain-uslugj{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-top: 37px;
}

.blok-onlain{
	width: 32%;
}

.blok-onlain h3{
	font-size: 23px;
	color: #1f6f7c;
	margin-bottom: 17px;
}

.blok-onlain p{
	font-size: 13px;
	color: #04a7c0;
	margin-bottom: 10px;
}

.onlain-bottom{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 70%;
	padding: 4px 0 4px 12px;
	margin-top: 9px;
	border-radius: 5px;
	background: #029bcb;
	box-shadow: 8px 10px 7px rgba(0, 0, 0, 0.6);
}

.onlain-bottom:hover{
	background: #524e4e;
}

.onlain-bottom:active{
	padding: 3px 0 3px 11px;
	
}

a.onlain-bottom{
	text-decoration: none;
}

.onlain-bottom_text{
	margin-left: 15px;
}
.onlain-bottom_text p{
	font-size: 12px;		
	color: #fff;


}

.onlain-bottom span{
	font-size: 20px;
	font-weight: 600;
	color: #fff;
	text-decoration: none;
}

.blok-uslugj{
	width: 62.8%;
	margin-left: auto;
	margin-right: 0;
}

.blok-uslugj_zag{
	text-transform: uppercase;
	font-size: 23px;
	color: #008fbf;
}

.blok-uslugj_list{
	margin-top: 20px;
	padding-bottom: 17px;
	border-bottom: 1px dotted #d5d5d5;
}

.blok-uslugj_list ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	
}

.blok-uslugj_list li{
	width: 46.8%;
	margin: 0 auto;
}

.blok-uslugj_list img{
	margin: 2px 5px 2px 0;
}

.blok-uslugj_list a{
	display: block;
	font-size: 13px;
	color: #11adc4;
	line-height: 22px;
}

/*--//--*/

/* blok-slaider-proektj*/

.blok-slaider-proektj{
	margin-top: 35px;
	
	
}

.blok-slaider-proektj_zag{
	font-size: 23px;
	color: #029bcb;
	text-transform: uppercase;
	margin-bottom: 25px;
}

.slaider-proektj{
	margin: 25px 0 0 50px;
}

.slaider-proektj_slaid{
	margin: 0 50px 0 15px;
	display: inline-block;
}

.slaider-proektj_slaid:last-child{
	margin-right: 0;
}

.blok-slaider-proektj a{
	display: block;
	font-size: 15px;
	font-weight: 600;
	color: #33b9cd;
	text-transform: uppercase;
	margin-top: 10px;
}

.blok-slaider-proektj p{
	font-size: 13px;
	color: #6f6f6f;
	font-style: italic;
	margin-top: 10px;
	line-height: 20px;
}

.blok-slaider-proektj span{
	font-size: 14px;
	color: #1f1f1f;
	font-style: normal;
	font-weight: 900;
}

.slaider-proektj_text{
	font-size: 13px;
	color: #797979;
	line-height: 24px;
	margin-top: 45px;
	border-bottom: 1px dotted #d5d5d5;
	padding: 0 0 55px 0;
}

/*стрелки слайдера*/

.slaider-proektj .slick-prev{
	border-radius: 50%;
	background: #97c3f1;
	box-shadow: 8px 10px 7px rgba(0, 0, 0, 0.6);
}

.slaider-proektj .slick-next{
	border-radius: 50%;
	background: #97c3f1;
	box-shadow: 8px 10px 7px rgba(0, 0, 0, 0.6);
}

.slaider-proektj .slick-next:active,
.slaider-proektj .slick-prev:active{
	background: #000;
	
}

/*--//--*/
				
				
/*foorer-menu*/

.foorer-menu{
	width: 78.6%;
	padding-top: 15px;
}

.foorer-menu ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.foorer-menu li{
	margin-right: 45px;
}

.foorer-menu a{
	font-size: 12px;
	color: #00a7c0;
	text-transform: uppercase;
	text-decoration: none;
}

/*--//--*/
	
/*blok-footer*/

.blok-footer{
	margin-top: 50px;
}

.blok-footer ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.blok-footer li{
	width: 25.8%;
	margin: 0 auto;
}

.blok-footer_adres p{
	font-size: 12px;
	color: #959898;
	line-height: 18px;
	margin-bottom: 25px;
}

.blok-footer_adres a{
	font-size: 12px;
	color: #959898;
}

.blok-footer_telephone p.time{
	font-size: 12px;
	color: #959898;
	margin-bottom: 37px;
}

.blok-footer_telephone p.nomer{
	font-size: 22px;
	color: #33b9cd;
	line-height: 26px;
}

.blok-footer_telephone p.email{
	margin-top: 10px;
	font-size: 12px;
	color: #959898;
}

.blok-footer_contakt a{
	font-size: 12px;
	color: #959898;
}

.blok-footer_contakt p.bold{
	font-size: 12px;
	font-weight: 600;
	color: #959898;
	margin-top: 8px;
}

.blok-footer_contakt p.author{
	font-size: 12px;
	color: #959898;
	margin-top: 25px;
}

/*--//--*/
