@font-face {
    font-family: 'Avian';
    src: url('Avian.woff2') format('woff2'),
        url('Avian.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NewsGoth BdXCn BT';
    src: url('NewsGothicBT-BoldExtraCondensed.woff2') format('woff2'),
        url('NewsGothicBT-BoldExtraCondensed.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Tahoma';
    src: url('Tahoma.woff2') format('woff2'),
        url('Tahoma.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tahoma';
    src: url('Tahoma-Bold.woff2') format('woff2'),
        url('Tahoma-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica LT Std';
    src: url('HelveticaLTStd-BoldCond.woff2') format('woff2'),
        url('HelveticaLTStd-BoldCond.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('MyriadPro-Semibold.woff2') format('woff2'),
        url('MyriadPro-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

