
@font-face {
    font-family: 'Arial';
    src: url(../Шрифти/'Arial-ItalicMT.eot');
    src: url(../Шрифти/'Arial-ItalicMT.eot?#iefix') format('embedded-opentype'),
        url(../Шрифти/'Arial-ItalicMT.woff2') format('woff2'),
        url(../Шрифти/'Arial-ItalicMT.woff') format('woff'),
        url(../Шрифти/'Arial-ItalicMT.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

body{
	font-family: 'Arial';
}

*{
	box-sizing: border-box;
}

a{
	text-decoration: none;
}


.section{
	width: 100%;
	margin: 0 auto;
}

.container{
	max-width: 940px;
	width: 100%;
	margin:0 auto; 
}

/*header*/

.bg-header{
	background-image: url(../img/header/bg-header.png);
	background-repeat: repeat-x;
	background-size: cover;
}

.header-logo-menu{
	padding: 15px 0 20px 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.header-logo{
	max-width: 160px;
	
}

.header-logo img{
	width: 100%;
}

.header-menu{
	max-width: 310px;
	width: 100%;
	margin-left: auto;
	margin-right: 0;
}

.header-menu ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.header-menu li{
	margin: 0 auto;
}

.header-menu a{
	font-size: 13px;
	color: #6c6c6c;
}

.header-menu a:hover{
	color: #f8d90b;
	border-bottom: 1px solid #000;
}

/*--//--*/

/*bloc-app-store*/

.bloc-app-store{
	background: #eef2f3;
}

.bloc-app-store-description-img{
	background-image: url(../img/bloc-app-store/bg-app-store.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 40px 0 90px 0;
}

.bloc-app-store-description{
	max-width: 470px;
}

.bloc-app-store-description_zag{
	font-size: 32px;
	color: #559d9c;
	line-height: 35px;
}

.bloc-app-store-description_text{
	margin-top: 15px;
	font-size: 14px;
	color: #559d9c;
	line-height: 20px;
}

.bloc-app-store-button-img{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	position: absolute;
	align-items: flex-end;
	max-width: 940px;
	width: 100%;
	padding-top: 40px;
}

.bloc-app-store-button{
	max-width: 230px;
	width: 100%;
	margin-left: 120px;
	background-image: url(../img/bloc-app-store/bg-button.png);
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 8px;
	padding: 14px 22px 12px 12px;
	box-shadow: 4px 2px 3px rgba(0, 0, 0, 0.6);
}

.bloc-app-store-button:active{
	box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.6);
}

.bloc-app-store-button_img_text{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.bloc-app-store-button_img{
	margin-right: 20px;
}

.bloc-app-store-button_text p{
	font-size: 15px;
	color: #797979;	
}

.bloc-app-store-button_text span{
	font-size: 30px;
	color: #3c3c3c;	
}

.bloc-app-store-img{
	max-width: 345px;
	width: 100%;
	margin-left: auto;
	margin-right: 0;
}

.bloc-app-store-img img{
	width: 100%;
}
/*--//--*/

/*services*/
.services{
	background: #eef2f3;
	padding: 50px 0 50px 0;
	border-bottom: 2px solid #e6eaed;
}

.services-list{
	width: 100%;
	
}

.services-list ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.services-list li{
	max-width: 302px;
	margin: 0 auto;
}

.services-list_img_zag{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	height: 50px;
}

.services-list_img{
	max-width: 50px;
	margin-right: 15px;
}	

.services-list_img img{
	width: 100%;
}

.services-list_zag{
	font-size: 24px;
	color: #505050;
}

.services-list_text{
	height: 125px;
	font-size: 13px;
	color: #505050;
	margin-top: 10px;
	line-height: 18px;
}

.services-list_link{
	width: 100%;
	padding: 15px 0 12px 0;
	text-align: center;
	border-radius: 6px;
	box-shadow: 4px 2px 3px rgba(0, 0, 0, 0.6);
	background-image: url(../img/bloc-app-store/bg-button.png);
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 20px;
}

.services-list_link:active{
	box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.6);
}

.services-list_link a{
	font-size: 18px;
	color: #3c3c3c;
}

/*--//--*/

/*footer*/

.footer{
	background: #e6eaed;
	border-top: 1px solid #fff;
	padding: 20px 0 40px 0;
}

.footer-menu-social{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 100%;
}

.footer-menu{
	max-width: 440px;
	width: 100%;
}
.footer-menu ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.footer-menu li{
	max-width: 115px;
	width: 100%;
	margin: 0 auto;
}

.footer-menu_zag{
	font-size: 20px;
	color: #505050;
}

.footer-menu_link{
	margin-top: 10px;
}

.footer-menu_link a{
	display: block;
	margin-bottom: 16px;
	font-size: 13px;
	color: #6c6c6c;
	text-decoration: none;
}

.footer-menu_link a:hover{
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
}

.footer-social{
	margin-left: 40px;
}

.footer-social_icon{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-top: 13px;
}


.footer-social_icon_img{
	max-width: 40px;
	margin-right: 13px;
}

.footer-social_icon_img:active{
	border: 1px solid #a1a5a8;
	border-radius: 6px;
}

.footer-social_icon_img img{
	width: 100%;
}
/*--//--*/