
@font-face {
    font-family: 'Edwardian Script ITC';
    src: url(../'EdwardianScrITC-BoldAlte.woff2') format('woff2'),
        url(../'EdwardianScrITC-BoldAlte.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}


