
@font-face {
    font-family: 'Myriad Pro';
    src: url(../Шрифти/'MyriadPro-Cond.eot');
    src: url(../Шрифти/'MyriadPro-Cond.eot?#iefix') format('embedded-opentype'),
        url(../Шрифти/'MyriadPro-Cond.woff2') format('woff2'),
        url(../Шрифти/'MyriadPro-Cond.woff') format('woff'),
        url(../Шрифти/'MyriadPro-Cond.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
}

h1,
p,
a{
	font-family: 'Myriad Pro';
}

.section{
	width: 100%;
}

.conteiner{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

/*description*/

.bg-description{
	background-image: url(../img/bg-body/bg-bodi-2.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	padding: 10px;
}

.description-top{
	padding-top: 30px;
	font-size: 18px;
	text-transform: uppercase;
	color: #fff;
}

.description-name{
	margin-top: 70px;
	font-size: 70px;
	color: #fff;
}

.description-text{
	max-width: 700px;
	margin: 0 auto;
	font-size: 18px;
	text-align: center;
	line-height: 1.2;
	color: #fff;
	margin-top: 20px;
}

.description-botom{
	max-width: 600px;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin: 0 auto;
	margin-top: 60px;
}

.description_link{
	max-width: 200px;
	width: 100%;
	height: 48px;
	margin: 0 auto;
}

.description_link a{
	width: 100%;
	display: block;
	padding: 15px;
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 5px;
	background-image: linear-gradient(to top, #f61b20, #f89193);
	color: #fff;
}

.description_link a:hover{
	border: 1px solid #fff;
}

.description_link a:active{
	background-image: linear-gradient(to top, #f89193, #f61b20);
}

.bloc-predlogeniy {
	box-shadow: 8px 13px 7px rgba(0, 0, 0, 0.6);
	display: flex;
	padding: 50px 0 20px 0;
	background: rgb(72, 69, 69, 0.4);
	margin: 20px;
}
.bloc-predlogeniy ul{
	max-width: 300px;
	width: 100%;
	margin: 0 auto;
}
.bloc-predlogeniy li{
	/*margin-bottom: 15px;*/
}

.bloc-predlogeniy a{
	display: block;
	font-size: 16px;
	color: #fff;
	padding: 10px;
	text-decoration: none;
}
.bloc-predlogeniy__a a{
	font-size: 24px;
	font-weight: 900;
}

.bloc-predlogeniy a:hover{
	background-image: linear-gradient(to top, #f89193, #f61b20);
	transition: all 0.2s ease 0s;
}
.bloc-predlogeniy a:active{
	background-image: linear-gradient(to top, #000, #f61b20);
}


/*--//--*/

.yakor-menu{
	padding: 20px;
}
.yakor-menu a{
	text-decoration: none;
	font-size: 14px;
	color:#fff;
	padding: 0 5px 0 5px;
	border-right: 1px solid #fff;
}

.yakor-menu a:hover{
	border-bottom: 1px solid #f4e53c;
}


/*portfolio*/

.bg-portfolio{
	background-image: url(../img/portfolio/bg-porfolio.jpg);
	background-size: cover;
	background-position: center;
	background-size: cover;
	padding: 10px;
}
.portfolio_zag{
	text-align: center;
	margin-top: 20px;
}

.portfolio_zag h3{
	text-transform: uppercase;
	font-size: 45px;
	font-weight: 700;
   	color: #fff;
   	text-shadow: 5px 14px 7px rgba(0, 0, 0, 0.8);
}

.portfolio_zag p{
	margin-top: 15px;
	font-size: 20px;
	font-weight: 700;
   	color: #fff;
   	text-shadow: 5px 14px 7px rgba(0, 0, 0, 0.8);
}

.portfolio-projects{
	margin-top: 50px;
}

.portfolio-projects_bloc{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}


.portfolio-projects_slaid{
	max-width: 350px;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 30px;
}

.portfolio-projects_slaid_img__1{
	height: 306px;
	background-image: url(../img/portfolio/LOS-auto_1.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.portfolio-projects_slaid_img__2{
	height: 306px;
	background-image: url(../img/portfolio/МТР_1.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.portfolio-projects_slaid_img__3{
	height: 306px;
	background-image: url(../img/portfolio/Landing-sait_Autoservis_1.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.portfolio-projects_slaid_img__4{
	height: 306px;
	background-image: url(../img/portfolio/Screenshot_Landing-sait_Yoga-tur__Wordpress_1.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.portfolio-projects_slaid_img__5{
	height: 306px;
	background-image: url(../img/portfolio/Stor_1.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.portfolio-projects_slaid_img__6{
	height: 306px;
	background-image: url(../img/portfolio/Journey-tur_1.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


.portfolio_projects_slaid_zag{
	height: 60px;
	text-align: center;
	text-shadow: 5px 14px 7px rgba(0, 0, 0, 0.8);
	padding: 15px 0 15px 0;
	color: #fff;
	font-size: 20px;
	font-style: italic;
	font-weight: 700;

}

.portfolio-projects_slaid_bottom{
	padding: 10px 0 10px 0;
	background-image: url(../img/portfolio/bg-podrobney.png);
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	text-align: center;
}

.portfolio-projects_slaid_bottom a{
	font-size: 15px;
	color: #beb5b5;
	text-transform: uppercase;
	text-decoration: none;
}

.portfolio-projects_slaid_bottom a:hover{
	color: #f7160b;
	font-weight: 700;
}
.mani{
	background-image: linear-gradient(to top, #fff, #3d3d3e);
	padding: 10px;
}
.mani p{
	font-size: 25px;
	color: #f7160b;
}

/*--//--*/

/*bloc-podrobno*/

.bg-podrobno{
	background-image: linear-gradient(to top, #fff, #3d3d3e);
}

.bloc-podrobno{
	padding-top: 20px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.bloc-podrobno_img{
	width: 45%;
	box-shadow: 8px 13px 7px rgba(0, 0, 0, 0.6);
}

.bloc-podrobno_img img{
	width: 100%;
}

.bloc-project{
	width: 90%;
	margin: 0 auto;
	margin-top: 20px;

}

.bloc-project_img img{
	width: 100%;
	box-shadow: 8px 13px 7px rgba(0, 0, 0, 0.6);
}

.podrobno-description{
	width: 50%;
	max-height: 550px;
	background: #fff;
	margin-left: auto;
	margin-right: 0;
	background-image: url(../img/bg-body/bg-fon.jpg);
	border-radius: 5px;
	box-shadow: 8px 13px 7px rgba(0, 0, 0, 0.6);
}

.bloc-podrobno_description_zag{
	margin-top: 50px;
}

.bloc-podrobno_description_zag h4{
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	text-shadow: 8px 13px 7px rgba(0, 0, 0, 0.9);
}

.bloc-podrobno_description_zag p{
	font-size: 18px;
	color: #fff;
	margin: 20px 0 20px 20px;
	font-style: italic;
}

.bloc-podrobno_description_botom{
	max-width: 200px;
	width: 100%;
	padding: 10px 0 10px 0;
	border-radius: 3px;
	background-image: url(../img/bg-body/bg-portfolio.png);
	background-position: center;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	box-shadow: 8px 13px 7px rgba(0, 0, 0, 0.6);
	margin: 0 auto;
	text-align: center;
}

.bloc-podrobno_description_botom:hover{
	border: 1px solid #fff;
}

.bloc-podrobno_description_botom:active{
	box-shadow: 4px 7px 4px rgba(0, 0, 0, 0.6);
}

.bloc-podrobno_description_botom a{
	display: block;
	font-size: 17px;
   	color: #f3f556;
   	text-decoration: none;
}

/*contakt*/

.bg-contakt{
	background-image: linear-gradient(to top, #000, #5d5a5a);
}

.contakt_foto{
	width: 20%;
}

.contakt_foto img{
	width: 100%;
	box-shadow: 8px 13px 7px rgba(0, 0, 0, 0.6);
}

 .contakt{
	padding: 40px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.contakt_description{
	max-width: 700px;
	width: 100%;
	margin-left: 40px;
}

.contakt_description h1{
	font-size: 40px;
   	color: #fff;
   	margin-top: 10px;
}

.contakt_description a{
	font-size: 22px;
	color: #f3d509;
}

.contakt p{
	padding: 10px;
	font-size: 18px;
	color: #fff;
}

.contakt_description span{
	font-size: 22px;
	font-weight: 700;
	border-bottom: 1px solid #fff;
}
.span-color{
	color: #f30914;
}

.saidbar-description-table{
	display: block;
	max-width: 900px;
	width: 100%;
	margin-left: auto;
	margin-right: 0;
	padding: 20px;
}

.saidbar-description-table p{
	margin-bottom: 20px;
}



.saidbar-description-table tr,
.saidbar-description-table td{
	border: 1px solid #fff;
	padding: 5px 20px 5px 10px;
	color: #fff;
}

.table-bold{
	font-weight: 700;
	font-size: 18px;
}

/*--//--*/



