

.section{
	max-width: 1500px;
	width: 100%;
	margin: 0 auto;
}
.container{
	max-width: 955px;
	width: 100%;
	margin:0 auto;
}

a{
	text-decoration: none;
}

/*bloc-header*/
.bg-bloc-header{
	background-image: url(../img/bloc-futer/bg-futer.png);
	background-repeat: repeat-x;
	background-size: cover;
	padding-bottom: 30px;
}

.bloc-header-menu-top{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.header-menu_top{
	max-width: 560px;
	width: 58.63%;

}

.header-menu_top ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.header-menu_top li{
	margin: 0 auto;
	width: 14.65%;
	padding: 34px 0 34px 0;
	border-right: 1px dashed #3f3f3f; 
}

.header-menu_top a{
	font-family: 'Arial';
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
}

.header-menu_top a:hover{
	color: #0571be;
}

.bloc-header_menu_account{
	max-width: 220px;
	margin-left: auto;
	margin-right: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

.bloc-header_menu_account_text{
	font-family: 'Arial';
	font-size: 12px;
	color: #6e6e6e;
	margin-right: 10px;
}

.bloc-header_menu_account_text:last-child{
	margin-right: 0;
}

.bloc-header_menu_account_link{
	margin-right: 10px;
}

.bloc-header_menu_account_link a{
	font-size: 12px;
	color: #b1b1b1;
}

.bloc-header_menu_account_link a:hover{
	color: #0571be;
}

.bloc-header-menu-nav{
	max-width: 235px;
	margin-left: auto;
	margin-right: 0;
}

.bloc-header-menu-nav ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-top: 35px;
}

.bloc-header-menu-nav li{
	padding-right: 10px;
	padding-left: 10px;
	margin: 0 auto;
	border-right: 1px solid #919191; 
}

.bloc-header-menu-nav li:last-child{
	padding-right: 0px;
	border-right: none; 
}

.bloc-header-menu-nav a{
	font-family: 'Arial';
	font-size: 14px;
	color: #919191;
}

.bloc-header-menu-nav a:hover{
	color: #0571be;
}

.bloc-header-title-poisk{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding: 23px 0 35px 0;
	align-items: flex-end;
}

.bloc-header-img img{
	width: 100%;
}

.bloc-header-title_zag_text{
	max-width: 350px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: flex-end;
}

.bloc-header-title_zag{
	font-family: 'Myriad Pro';
	font-size: 60px;
	color: #fff;
	margin-right: 20px;
	text-transform: uppercase;
}

.bloc-header-title_text{
	font-family: 'Myriad Pro';
	font-size: 13px;
	color: #7c7c7c;
	text-transform: uppercase;
}

.bloc-header-poisk{
	margin-left: auto;
	margin-right: 0;
	width: 300px;
}

.bloc-header-poisk form{
	position: relative;
}

.bloc-header-poisk input{
	width: 95%;
	height: 32px;
	padding-left: 9px;
	border: 1px solid #1f201e;
	background: #131311;
  	color: #828282;
  	font-size:14px;
  	font-family: 'Arial';
  	outline: none;
}

.bloc-header-poisk button{
	position: absolute; 
    top: 0;
    right: 0;
    width: 53px;
    height: 100%;
    border: none;
    background-image: linear-gradient(to top, #0571be, #02499d);
    cursor: pointer;
}

.bloc-header-poisk button:before {
  content: url(../img/bloc-header/Layer.png);
}

/*--/--*/

/*bloc-Support-Service*/

.bg-bloc-Support-Service{
	background: #e3e7e3;
	padding: 65px 0 70px 0;
}

.bloc-Support-Service_slaider_list{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.Support-Service_slaider{
	max-width: 240px;
}

.bloc-Support-Service_slaider_list ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.bloc-Support-Service_slaider_list li{
	width: 32%;
	margin: 0 auto;
}

.Service_slaider_img_text{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	margin-top: 45px;
}

.Service_slaider .slick-dots{
	top: 110px;
	left: 90px;

}

.Support-Service_slaider_zag{
	font-family: 'Myriad Pro';
	font-size: 36px;
	color: #313035;
	text-transform: uppercase;
}

.slaider_img{
	max-width: 90px;
	margin-right: 15px;
}

.slaider_img img{
	width: 100%;
}

.slaider_text{
	font-family: 'Arial';
	font-size: 13px;
	color: #303135;
	font-style: italic;
	line-height: 22px;
}

.Service_slaider .slick-initialized{
	margin-bottom: 10px;
}

.Support-Service_list_zag_img{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

.Support-Service_list_img{
	margin-right: 10px;
}

.Support-Service_list_zag{
	font-family: 'Myriad Pro';
	font-size: 21px;
	color: #313035;
	text-transform: uppercase;
}

.Support-Service_list_text_italic{
	font-family: 'Arial';
	font-size: 13px;
	color: #929292;
	font-style: italic;
	line-height: 22px;
	margin-top: 35px;
	padding-right: 30px;
}

.Support-Service_list_text_italic_slaider{
	font-family: 'Arial';
	font-size: 13px;
	color: #929292;
	font-style: italic;
	line-height: 22px;
	margin-top: 35px;
	padding-right: 10px;
}

.Service_link{
	margin-top: 33px;
}

.Service_link a{
	font-family: 'Myriad Pro';
	font-size: 16px;
	color: #313035;
	text-transform: uppercase;
}

.Service_link a:hover{
	color: #0571be;
	font-weight: bold;
}

.Support-Service_list_text{
	font-family: 'Arial';
	font-size: 13px;
	color: #929292;
	margin-top: 35px;
	line-height: 22px;
	padding: 0 30px 30px 0;
}
/*--//--*/

/*professional-networking*/

.professional-networking{
	margin-top: 70px;
	border-top: 1px dashed #7c7e7c;
	border-bottom: 1px dashed #7c7e7c;
	padding: 20px 0 20px 0;
}

.professional-networking-bg{
	background-image: url(../img/bloc-futer/bg-futer.png);
	background-repeat: repeat-x;
	background-size: cover;
}

.professional-networking-title{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

.professional-networking-title_zag_text{
	width: 77.48%;
	padding: 25px 0 25px 25px;
}

.professional-networking_title_zag{
	font-family: 'Myriad Pro';
	font-size: 34px;
	color: #fff;
	text-transform: uppercase;
}

.professional-networking_title_text{
	font-family: 'Myriad Pro';
	font-size: 16px;
	color: #969696;
	text-transform: uppercase;
	margin-top: 10px;
	line-height: 22px;
}

.professional-networking_bottom{
	margin: 0 auto;
	background-image: linear-gradient(to top, #0352a6, #0571be);
	padding: 15px 10px;
	text-align: center;
}

.professional-networking_bottom:hover{
	border: 1px solid #fff;
	background-image: linear-gradient(to top, #0571be, #0352a6);
	font-weight: bold;
}

.professional-networking_bottom a{
	font-family: 'Myriad Pro';
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;

}
/*--//--*/

/*blok-info*/

.blok-info{
	margin-top: 65px;
}

.blok-info_ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.blok-info_ul li{
	max-width: 310px;
	margin: 0 auto;
}

.blok-info_zag{
	font-family: 'Myriad Pro';
	font-size: 30px;
	color: #313035;
	text-transform: uppercase;
	margin-bottom: 45px;
}

.blok-info_Solutions_img_text{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: flex-start;
	height: 83px;
}

.blok-info_Solutions li{
	margin-bottom: 60px;
}

.blok-info_Solutions_img{
	margin-right: 15px;
}

.blok-info_Solutions_text span{
	font-family: 'Arial';
	font-size: 16px;
	color: #0571be;
}

.blok-info_Solutions_text{
	font-family: 'Arial';
	font-size: 12px;
	color: #929292;
	line-height: 19px;

}

.blok-info_Solutions_link a{
	font-family: 'Myriad Pro';
	font-size: 16px;
	text-transform: uppercase;
	color: #434242;
}

.blok-info_Solutions_link a:hover{
	color: #0571be;
	font-weight: bold;
}

.blok-info_Services_img_link{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.blok-info_Services_img_link{
	margin-bottom: 20px;
}

.blok-info_Services_img{
	margin-right: 15px;
}

.blok-info_Services_img_link a{
	font-family: 'Arial';
	font-size: 14px;
	color: #929292;
}

.blok-info_Services_img_link a:hover{
	color: #0571be;
	font-weight: bold;
}

/*--//--*/

/*bloc-futer*/
.bg-bloc-futer{
	background-image: url(../img/bloc-futer/bg-futer.png);
	background-repeat: repeat-x;
	background-size: cover;
	padding: 69px 0 87px 0;
}

.bloc-futer-menu-social{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.bloc-futer_menu{
	width: 71.2%;
}

.bloc-futer_menu_li{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.bloc-futer_menu_li li{
	margin: 0 auto;	
}

.bloc-futer_menu_zag{
	font-size: 24px;
	color: #fff;
	text-transform: uppercase;
}

.bloc-futer_menu_nav{
	margin-top: 25px;
}

.bloc-futer_menu_nav_img-text{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-bottom: 20px;
}

.bloc-futer_menu_nav_img{
	margin-right: 10px;
}

.bloc-futer_menu_nav_img-text a{
	font-family: 'Arial';
	font-size: 13px;
	color: #999999;
}

.bloc-futer_menu_nav_img-text a:hover{
	color: #0571be;
	font-weight: bold;
}

.bloc-futer-social{
	max-width: 160px;
	margin-left: auto;
	margin-right: 0;
	padding-right: 10px;
}

.bloc-futer-social_zag{
	font-family: 'Myriad Pro';
	font-size: 26px;
	color: #fff;
	text-transform: uppercase;
}

.bloc-futer-social_text{
	font-family: 'Arial';
	font-size: 12px;
	color: #939393;
	margin-top: 15px;
}

.bloc-futer-social_icon{
	margin-top: 28px;
}

.bloc-futer-social_icon img:hover{
	border: 1px solid #fff;
	border-radius: 5px;
}

/*--//--*/



