@font-face {
    font-family: 'Arial Narrow';
    src: url('ArialNarrow.eot');
    src: url('ArialNarrow.eot?#iefix') format('embedded-opentype'),
        url('ArialNarrow.woff2') format('woff2'),
        url('ArialNarrow.woff') format('woff'),
        url('ArialNarrow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans Narrow';
    src: url('PTSans-Narrow.eot');
    src: url('PTSans-Narrow.eot?#iefix') format('embedded-opentype'),
        url('PTSans-Narrow.woff2') format('woff2'),
        url('PTSans-Narrow.woff') format('woff'),
        url('PTSans-Narrow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans Narrow';
    src: url('PTSans-NarrowBold.eot');
    src: url('PTSans-NarrowBold.eot?#iefix') format('embedded-opentype'),
        url('PTSans-NarrowBold.woff2') format('woff2'),
        url('PTSans-NarrowBold.woff') format('woff'),
        url('PTSans-NarrowBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Arial';
    src: url('Arial-ItalicMT.eot');
    src: url('Arial-ItalicMT.eot?#iefix') format('embedded-opentype'),
        url('Arial-ItalicMT.woff2') format('woff2'),
        url('Arial-ItalicMT.woff') format('woff'),
        url('Arial-ItalicMT.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

