


.bg-body{
	background: #282828;
}
.section{
	max-width: 1200px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
} 

.container{
	max-width: 935px;
	width: 100%;
	margin: 0 auto;
}

/*------------header---------------------*/

.background-header{
	padding-bottom: 280px;
	background-image: url(../img/Header/Header-bg.png);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}

.header{
	height: 124px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.logo-header a{
	font-size: 72px;
	color: #791a84;
	font-family: 'Edwardian Script ITC';
	text-decoration: none;
}

.header-menu{
	margin-left: auto;
  	margin-right: 0;
}

.header-menu ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.header-menu li{
	margin-left: 15px;
	height: 42px;
}

.header-menu a{
	display: block;
	padding: 12px 17px;
	border-radius: 3px;
	text-transform: uppercase;
	font-size: 18px;
	color:#edeb22;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
}

.knopka-wrapper-menu{
	max-width: 93px;
	width: 100%;
}

.knopka-wrapper-menu a{
	display: block;
	padding: 12px 17px;
	border-radius: 3px;
	background: rgb(208, 57, 88, 0.8);
	color: #fff;
}

.knopka-wrapper-menu a:hover,
.header-menu a:hover{
	background: rgb(111, 111, 111, 0.8);
}

.knopka-wrapper-menu a:active,
.header-menu a:active{
	background: #2b022f;
}

.header-zag{
	width: 96%;
	font-size: 90px;
	font-weight: 700;
	margin-top: 155px;
	color: #edeb22;
	font-family: 'Montserrat', sans-serif;
}

.colortext{
	color: #d03958;
}
/*-----------------------------------*/

/*---------------stori--------------------------*/
.background-stori{
	padding:25px 0 25px 0;
	background-image: url(../img/Stori/bg-stori.png);
	background-repeat: repeat-x;
	background-position: center;
}

.blok-stori{
	max-height: 130px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-left: 0;
	margin-right: 0;
}

.text-stori{
	font-family: 'PT Serif', serif;
	width: 65%;
	font-size: 20px;
	color: #fff;
	line-height: 25px;
	margin-left: 0;
	margin-right: 0;
}

.botom-stori{
	margin-left: auto;
	margin-right: 0;
	height: 75px;
}

.botom-stori a{
	display: block;
	padding:25px 85px 25px 55px;
	border-radius: 4px;
	background: linear-gradient(to top, #fefefe, #d7d7d7);
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 22px;
	color: #161616;
	text-decoration: none;
	text-align: center;
}

.botom-stori a:hover{
	border: 1px solid #edeb22;;
	background: linear-gradient(to top, #d7d7d7, #fefefe);
}

.botom-stori a:active{
	border: 1px solid #4e4c4e;;
	background: linear-gradient(to top, #fefefe, #d7d7d7);
}

/*------------------//-----------------*/

/*----------------services-----------------*/
.background-our-services{
	background-image: url(../img/SERVICES/fon-voda.jpg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	padding: 47px 0 0 0;
	height: 567px;
	position: relative;
}

.services-zag{
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 50px;
	color: #d03958;
}

.services-zag-color{
	color: #edeb22;
}

.rov{
	position: relative;
	
}
.rov ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.rov_img_1{
	background-image: url(../img/SERVICES/img1-services.png);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	width: 52%;
	height: 254px;
	position: absolute;
	margin-top: 32px;
	z-index: 1;
}

.rov_img_link_1{
	max-width: 180px;
	padding-top: 15px;
	margin-left: 283px;
}

.rov_img_link_1 a{
	font-family: 'PT Serif', serif;
	font-size: 20px;
	color: #e2f5e9;
	text-decoration: none;
}

.rov_img_link_1 a:hover{
	color: #edeb22;
}

.rov_img_2{
	background-image: url(../img/SERVICES/img2-services.png);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	width: 38%;
	height: 206px;
	position: absolute;
	margin: 170px 0 0 300px;
	z-index: 2;
}

.rov_img_link_2{
	position: absolute;
	margin:300px 0 0 253px;
	z-index: 3;
}

.rov_img_link_2 a{
	font-family: 'PT Serif', serif;
	font-size: 30px;
	color: #7ddbd1;
	text-decoration: none;
}

.rov_img_link_2 a:hover{
	color: #c2161a;
}

.rov_img_3{
	background-image: url(../img/SERVICES/img3-services.png);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	position: absolute;
	z-index: 1;
	width: 45%;
	height: 594px;
	right: 10px; 
}

.rov_img_link_3{
	max-width: 235px;
	position: absolute;
	margin:365px 0 0 210px;
	z-index: 3;
	text-align: center;
}

.rov_img_link_3 a{
	font-family: 'PT Serif', serif;
	font-size: 25px;
	color: #f9f7f4;
	text-decoration: none;
}

.rov_img_link_3 a:hover{
	color: #c2161a;
}

/*------------------//-----------------*/

/*--------------pricing-------------------*/
.background-pricing{
	background-image: url(../img/Pricing/Bg-PRICING.png);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	height: 100%;
}

.pricing{
	max-width: 1067px;
	width: 100%;
	margin: 0 auto;
	padding-top: 45px;
}

.pricing-zag{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 50px;
	color: #1f1f1f;
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
}

.pricing-base{
	margin-top: 70px;
}

.pricing-base ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 89.5%;
	margin-left: auto;
	margin-right: auto;
}

.pricing-base li{	
	background: linear-gradient(to top, #fefefe, #d7d7d7);
	border-radius: 3px;
	width: 29.96%;
	padding:35px 0 0 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.pricing-base-zag{
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	color: #161616;
}

.pricing-base-suma{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 60px;
	color: #d03958;
	font-weight: 700;
	margin-top: 45px;
}

.pricing-base-text{
	font-family: 'PT Serif', serif;
	font-size: 20px;
	color: #161616;
	margin-top: 25px;
	line-height: 28px;
}

.pricing-base-botom{
	margin-top: 40px;
}

.pricing-base-botom a{
	display: block;
	padding:15px 45px;
	background: #999d9d;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	color: #161616;
	text-transform: uppercase;
	text-decoration: none;
}

.pricing-base-botom a:hover{
	background: #d03958;
}

.pricing-base-botom a:active{
	background: #4c0412;
	color: #fff;
}

/*---------//-------------------------------*/


/*-------------testimonial-gallery-------------------*/
.background-testimonial-gallery{
	background-image: url(../img/testimonial/bg-testimonial-gallery.png);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}

.testimonial-gallery{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding-top: 108px;
	padding-bottom: 25px;
}

.testimonial{
	width: 48.77%;
}

.testimonial-zag{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 50px;
	color: #1f1f1f;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 80px;
}

.testimonial-koment{
	padding:15px 100px 25px 25px;
	background-image: url(../img/testimonial/Koment-gallery.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	height: 160px;
	border-radius: 3px;
}

.koment-awtor{
	font-family: 'PT Serif', serif;
	font-size: 20px;
	color: #d03958;
}

.koment-text{
	font-family: 'PT Serif', serif;
	font-size: 20px;
	color: #161616;
	margin-top: 35px;
}

.gallery{
	width: 35.29%;
	margin-left: auto;
	margin-right: 0;
}

.gallery-zag{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	padding-left: 25px;
	font-size: 50px;
	color: #d03958;
	text-transform: uppercase;
	margin-bottom: 40px;
}

.gallery img{
	width: 100%;
	margin-bottom: 30px;
}

/*---------//----------------------------------*/

/*-------------footer--------------------------*/

.background-footer{
	background: linear-gradient(to top, #040304, #fcfcfc);
}

.footer{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding:55px 0 55px 0;
	align-items: center;
}

.footer-text{
	font-family: 'PT Serif', serif;
	font-size: 20px;
	color: #fff;
}

.footer-logo{
	margin-left: auto;
	margin-right: 0;
}

.footer-logo a{
	font-family: 'Edwardian Script ITC';
	text-decoration: none;
	color: #791a84;
	font-size: 72px;
}
/*------//---------------------------------------*/
