
@media (max-width : 767px) {
	/*------------header---------------------*/

	.background-header{
		padding-bottom: 150px;
	}
	
	.logo-header{
		text-align: center;
		padding-top: 20px;
	}

	.header-menu ul{
		margin: 0 10px 0 10px;
	}

	.header-menu li{
		margin-left: 5px;
	}

	.header-menu a{
		font-size: 12px;
	}

	.header-zag{
		font-size: 60px;
		padding: 0 10px 0 10px;
		margin-top: 80px;
	}

	/*-----------------------------------*/
	/*---------------stori--------------------------*/
	.background-stori{
		padding:0;
	}

	.blok-stori{
		display: block;
	}

	.text-stori{
		width: 100%;
		padding: 10px;
	}

	
	.botom-stori a{
		margin:0 auto;
		margin-top: 10px;

	}
	
	/*------------------//-----------------*/

	/*----------------services-----------------*/
	.background-our-services{
		margin-top: 65px;
	}

	.blok-our-services{
		padding: 30px 0 20px 0;
	}

	.services-zag{
		font-size: 30px;
	}
	
	.rov ul{
		margin-top: 40px;
		
	}
	
	.rov-p{
		font-size: 18px;
		margin-top: 30px;
		padding-left: 10px;
	}

	.rov-p:hover{
		color: #edeb22;
	}

	.rov_img_2{
		margin: 170px 0 0 150px;
	}

	.rov_img_link_1{
		margin-left: 150px;
	}

	.rov_img_link_2{
		margin:300px 0 0 80px;
	}

	.rov_img_link_3{
		margin:440px 0 0 30px;
	}

	/*------------------//-------------------------*/
	/*--------------pricing-------------------*/
	
	.pricing{
		padding-top: 30px;
	}

	.pricing-zag{
		font-size: 40px;
	}

	.pricing-base{
		margin-top: 30px;
	}

	.pricing-base ul{
		display: block;
	}

	.pricing-base li{	
		width: 80%;
		margin-bottom: 20px;
	}

	/*---------//-------------------------------*/
	/*-------------testimonial-gallery-------------------*/
	
	.testimonial-gallery{
		display: block;
		padding-top: 70px;
	}

	.testimonial{
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}

	.testimonial-zag{
		font-size: 40px;
		margin-bottom: 30px;
	}

	.testimonial-koment{
		width: 90%;
		margin-left: 20px;
		margin-right: 20px;
		height: auto;
	}

	.gallery{
		width: 70%;
		height: 800px;
	}

	.gallery-slaider{
		display: block;
	}

	.gallery-zag{
		font-size: 40px;
		text-align: center;
	}

	.gallery img{
		width: 100%;
		margin-bottom: 30px;
	}

	/*---------//----------------------------------*/

	/*-------------footer--------------------------*/
	.footer{
		padding:45px 20px 45px 20px;
	}

	.footer-text{
		font-size: 15px;
	}

	.footer-logo a{
		font-size: 60px;
	}
	/*------//---------------------------------------*/
} 





 


