
@media (max-width : 479px) {
	/*------------header--------------------*/

	.background-header{
		padding-bottom: 100px;
	}
	
	.header-menu{
		display: none;
	}

	.header-zag{
		font-size: 30px;
		margin-top: 30px;
		text-align: center;
	}
/*-----------------------------------*/

/*---------------stori--------------------------*/
	
	.text-stori{
		font-size: 15px;
		line-height: 18px;
	}

	.botom-stori a{
		font-size: 18px;
	}
		
	/*------------------//-----------------*/

	/*----------------services-----------------*/
	
	.background-our-services {
		margin-top: 30px;
	}

	.rov ul{
		margin-top: 30px;
	}
	
	.rov img{
		width: 60%;
		height: 70px;
	}

	.rov-p{
		font-size: 12px;
		margin-top: 20px;
	}

	.rov_img_1{
		width: 90%;
		margin-top: 0;
	}

	.rov_img_2{
		width: 52%;
		height: 130px;
		margin: 170px 0 0 100px;
	}

	.rov_img_link_2{
		margin:200px 0 0 100px;
	}

	.rov_img_3{
		width: 75%;
		height: 200px;
		right: 110px; 
		margin-top: 300px;
		z-index: 4;
	}

	.rov_img_link_3{
		margin:120px 0 0 60px;
	}

	/*------------------//--------------*/
	/*--------------pricing-------------------*/
	
	.pricing{
		padding-top: 30px;
	}

	.pricing-zag{
		font-size: 30px;
	}

	.pricing-base{
		margin-top: 60px;
	}

	.pricing-base li{	
		padding:25px 0 0 0;
	}

	.pricing-base-suma{
		font-size: 50px;
		margin-top: 25px;
	}

	.pricing-base-text{
		margin-top: 22px;
	}

	.pricing-base-botom{
		margin-top: 20px;
	}
	/*---------//-------------------------------*/
	/*-------------testimonial-gallery-------------------*/
	
	.testimonial-gallery{
		padding-top: 30px;
	}

	.testimonial-zag{
		font-size: 30px;
		margin-bottom: 20px;
	}

	.testimonial-koment{
		width: auto;
		margin-left: 10px;
		margin-right: 10px;
	}

	.gallery{
		height: 450px;
	}

	.gallery-zag{
		font-size: 30px;
	}

	/*---------//----------------------------------*/
	/*-------------footer--------------------------*/

	.footer{
		display: block;
		text-align: center;
		padding:35px 20px 25px 20px;
	}

	.footer-text{
		font-size: 15px;
		margin-bottom: 10px;
	}

	.footer-logo a{
		font-size: 50px;
	}
	/*------//---------------------------------------*/
}

	