
 @media (max-width : 1220px) {

	/*------------header---------------------*/
	.header{
		display: block;
	}

	.header-menu{
		margin-top: 15px;
	  	
	}
	
	/*-----------------------------------*/

	/*---------------stori--------------------------*/

	.text-stori{
		font-size: 18px;
		padding-left: 20px;
		padding-right: 10px;

	}

	.botom-stori a{
		max-width: 200px;
		padding:15px 30px 15px 25px;
		margin-right: 20px;

	}
	
	/*------------------//-----------------*/
	/*----------------services-----------------*/

	.blok-our-services{
		padding: 35px 0 30px 0;
	}

	.services-zag{
		margin-left: 30px;
	}

	.rov ul{
		margin-top: 70px;
		margin-left: 20px;
		margin-right: 20px;
	}

	/*------------------//-----------------*/
	/*--------------pricing-------------------*/
	.pricing-base-suma{
		font-size: 50px;
	}

	.pricing-base-text{
		font-size: 20px;
	}
	
	/*---------//-------------------------------*/
	/*-------------testimonial-gallery-------------------*/
	
	.testimonial-gallery{
		padding: 75px 20px 20px 20px;
	}

	.testimonial-zag{
		font-size: 40px;
		margin-bottom: 40px;
	}

	.testimonial-koment{
		padding:15px;
		margin-bottom: 20px;
	}

	.koment-text{
		margin-top: 25px;
	}

	.gallery{
		margin:0 auto;
	}
	.gallery-slaider.slick-initialized.slick-slider{
		width: 100%;
	}

	.gallery-zag{
		font-size: 40px;
		margin-bottom: 40px;
	}
	
	/*---------//----------------------------------*/

	/*-------------footer--------------------------*/

	.footer{
		padding:55px 20px 55px 20px;
	}

	/*------//---------------------------------------*/
} 

