
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background-image: url(../img/bg-body/bg-bodi.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}


.section{
	width: 100%;
	margin: 0 auto;
	padding: 100px 0 100px 0;
}

.conteiner{
	max-width: 1200px;
	margin: 0 auto;
}

.yakor-menu{
	margin-bottom: 20px;
}
.yakor-menu a{
	text-decoration: none;
	font-size: 14px;
	color:#fff;
	padding: 0 5px 0 5px;
	border-right: 1px solid #fff;
}

.yakor-menu a:hover{
	border-bottom: 1px solid #f4e53c;
	font-weight: 700;
}

/*contakt*/

.contakt_foto{
	width: 20%;
}

.contakt_foto img{
	width: 100%;
	box-shadow: 8px 13px 7px rgba(0, 0, 0, 0.6);
}

 

 p{
	font-size: 15px;
   	color: #fff;
   	margin-top: 10px;
}

.contakt{
	margin: 40px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.contakt_description{
	max-width: 700px;
	width: 100%;
	margin-left: 40px;
}

.contakt_description h1{
	font-size: 40px;
   	color: #fff;
   	margin-top: 10px;
}

.contakt p{
	padding: 10px;
	font-size: 20px;
	color: #fff;
}

.contakt_description span{
	font-size: 22px;
	font-weight: 700;
	border-bottom: 1px solid #fff;
}

/*--//--*/

/*главная страница*/
.description{
	width: 100%;
	background-image: url(../img/bg-body/bg-bloc_navigation.png);
	background-position: center;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	border-radius: 5px;
	padding: 20px;
	margin: 0 auto;
}

.description_zag{
	font-size: 45px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 20px;
	text-shadow: 8px 13px 7px rgba(0, 0, 0, 0.6);
	text-align: center;
}

.description_text{
	width: 50%;
	margin: 0 auto;
	margin-top: 25px;
}

.description_text li{
	font-size: 25px;
	font-style: italic;
   	color: #fff;
   	text-shadow: 8px 13px 7px rgba(0, 0, 0, 0.6);
   	margin-bottom: 20px;
   	list-style-type: disc;

}

.description-botom{
	width: 50%;
	margin: 0 auto;
	padding: 25px 0 25px 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

}

.description_link{
	max-width: 250px;
	width: 100%;
	padding: 10px;
	border-radius: 3px;
	background: linear-gradient(to top, #696969, #cbe9e9);
	text-transform: uppercase;
	box-shadow: 8px 13px 7px rgba(0, 0, 0, 0.6);
	text-align: center;
	margin: 0 auto;
}

.description_link:hover,
.bloc-podrobno_description_botom:hover{
	background: linear-gradient(to top, #cbe9e9, #696969);
	border: 1px solid #000;
}

.description_link a{
	font-size: 17px;
   	color: #f3f556;
   	text-decoration: none;
}

/*--//--*/

/*portfolio*/
.portfolio_zag{
	text-align: center;
	margin-top: 20px;
}

.portfolio_zag h3{
	text-transform: uppercase;
	font-size: 45px;
	font-weight: 700;
   	color: #fff;
   	text-shadow: 5px 14px 7px rgba(0, 0, 0, 0.8);
}

.portfolio_zag p{
	margin-top: 15px;
	font-size: 20px;
	font-weight: 700;
   	color: #fff;
   	text-shadow: 5px 14px 7px rgba(0, 0, 0, 0.8);
}

.portfolio-projects{
	margin-top: 50px;
}

.portfolio-projects_bloc{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.portfolio-projects_bloc img{
	width: 100%;
	height: 100%;
	box-shadow: 8px 13px 7px rgba(0, 0, 0, 0.6);

}

.portfolio-projects_slaid{
	max-width: 320px;
	margin: 0 auto;
	margin-bottom: 30px;
}

.portfolio-projects_slaid_img{
	height: 306px;
	
}

.portfolio_projects_slaid_zag{
	text-align: center;
	text-shadow: 5px 14px 7px rgba(0, 0, 0, 0.8);
	padding: 15px 0 15px 0;
	color: #fff;
	font-size: 20px;
	font-style: italic;
	font-weight: 700;

}

.portfolio-projects_slaid_bottom{
	padding: 10px 0 10px 0;
	background-image: url(../img/portfolio/bg-podrobney.png);
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	text-align: center;
}

.portfolio-projects_slaid_bottom a{
	font-size: 15px;
	color: #beb5b5;
	text-transform: uppercase;
	text-decoration: none;
}

.portfolio-projects_slaid_bottom a:hover{
	color: #f7160b;
	font-weight: 700;
}

/*--//--*/

/*bloc-podrobno*/

.bloc-podrobno{
	padding-top: 20px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.bloc-podrobno_img{
	width: 45%;
}

.bloc-podrobno_img img{
	width: 100%;
}

.bloc-project{
	width: 90%;
	margin: 0 auto;
	margin-top: 20px;
}

.bloc-project_img img{
	width: 100%;
	box-shadow: 8px 13px 7px rgba(0, 0, 0, 0.6);
}

.podrobno-description{
	width: 50%;
	max-height: 550px;
	background: #fff;
	margin-left: auto;
	margin-right: 0;
	background-image: url(../img/bg-body/bg-fon.jpg);
	border-radius: 5px;
}

.bloc-podrobno_description_zag{
	margin-top: 50px;
}

.bloc-podrobno_description_zag h4{
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	text-shadow: 8px 13px 7px rgba(0, 0, 0, 0.9);
}

.bloc-podrobno_description_zag p{
	font-size: 18px;
	color: #fff;
	margin: 20px 0 20px 20px;
	font-style: italic;
}

.bloc-podrobno_description_botom{
	max-width: 200px;
	padding: 10px 10px 10px 20px;
	border-radius: 3px;
	background-image: url(../img/bg-body/bg-portfolio.png);
	background-position: center;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	box-shadow: 8px 13px 7px rgba(0, 0, 0, 0.6);
	margin: 0 auto;
	text-align: center;
}

.bloc-podrobno_description_botom a{
	font-size: 17px;
   	color: #f3f556;
   	text-decoration: none;
   	text-transform: uppercase;

}

.saidbar-description-table{
	display: block;
	width: 70%;
	margin-left: auto;
	margin-right: 0;
	padding: 20px;
}

.saidbar-description-table p{
	margin-bottom: 20px;

}

.saidbar-description-table{
	width: 70%;
	margin-right: auto;
	margin-left: 0;
}

.saidbar-description-table tr,
.saidbar-description-table td{
	border: 1px solid #fff;
	padding: 5px 20px 5px 10px;
	color: #fff;
}

.table-bold{
	font-weight: 700;
	font-size: 18px;
}



